<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>{{titulo}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <h1>Meu Projeto com Handlebars</h1>
  </header>

  {{{body}}}

  <footer class="assinatura">
  <p>Copyright © 1990 res<span class="riscado" title="By Riskdo">ervados</span></p>
  </footer>

  <script src="/js/main.js"></script>
</body>
</html>
