<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <title>{{titulo}}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header class="site-header">
    <h1> Meu Projeto com Handlebars. =D </h1>
  <nav class="nav">
    <a href="/" class="{{#if isHome}}active{{/if}}">Home</a>
    <a href="/sobre" class="{{#if isSobre}}active{{/if}}">Sobre</a>
  </nav>
</header>

  {{{body}}}

  <footer class="assinatura">
  <p>Copyright © 1990 res<span class="riscado" title="By Riskdo">ervados</span></p>
  </footer>

  <script src="/js/main.js"></script>
</body>
</html>
